nav{
  background-color: #000;
  font-family: 'Overlock', cursive;
}

img{
  width: 100%;
  height: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  border: 1px solid #000;
  border-radius: 15px;
}
