*{
  font-family: 'Overlock', cursive;
  color: #1e3554;
  font-size: 16px;
  text-rendering: optimizeLegibility;
}

body{
  background-color: #1e3554;
}

.totalite{
  min-height:400px;
  background-color: grey;
  background-image: url('src/light_alu/light_alu/light_alu_@2X.png');
  padding-top: 30px;
}

h1, h4{
  font-weight: bold;
}

/*----------------bouton retour accueil-----------------*/

.accueil{
  text-align: center;
}

.back-home i{
  color: #fff;
}

.back-home:hover i{
  color: #1e3354;
}

.back-home{
  color: #fff;
  background-color: #1e3554;
  padding: 8px;
  border: 2px solid #1e3554;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
  text-align: center;
}

.back-home:hover{
  color: #1e3554;
  background-color: transparent;
  text-decoration: none;
  border: none;
}

.fa-arrow-circle-left {
  color: #fff;
}


/*----------------fin bouton retour accueil-----------------*/

/*-------------------------titre--------------------*/

.titre{
  text-align: center;
  margin-top: 100px;
  margin-bottom: 50px;
}

/*-------------------fin titre ---------------*/

/*-------------------section nom et compétences-------------*/

.contact{
  text-align: center;
  margin-bottom: 30px;
}

.clique i{
  color: #fff;
}

.clique:hover i{
  color: #1e3354;
}

.clique{
  margin-top: 50px;
  color: #fff;
  background-color: #1e3554;
  padding: 8px;
  border: 2px solid #1e3554;
  border-radius: 10px;
  transition: 1s;
}

.clique:hover{
  color: #1e3554;
  background-color: transparent;
  text-decoration: none;
  border: none;
}

.comp{
  text-align: center;
}

.infos{
  display: inline-block;
  margin-top: 30px;
  text-align: center;
  margin-bottom: 30px;

}

a{
  color: #1e3554;
  transition: 0.5s;
}

a:hover{
  color: #000;
}

i{
  margin-right: 10px;
}

img{
  width: 25px;
}

/*-------------------fin section nom et compétences-------------*/

/*-------------------section formation-----------------*/

.formation{
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

.formation::after{
  content: " ";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #1e3554;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 30px;
}

.date1, .lieu1, .formations1{
  margin-top:15px;
  text-align: center;
}

.form::after{
  content: " ";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #b6b2b2;
  text-align: center;
  margin-top: 10px;
}

/*-------------------fin section formation-----------------*/

/*-------------------section expériences --------------------*/

.experiences{
  margin-bottom: 30px;
  margin-top: 30px;
  text-align: center;
}

.experiences::after{
  content: " ";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #1e3554;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 30px;
}

/*-------------------fin section expériences-------------------*/

/* -------------------section hobbies et liens------------------*/

.soustitre{
  text-align: center;
  margin-bottom: 25px;
  margin-top: 30px;
}

.soustitre::after{
  content: " ";
  display: block;
  width: 60px;
  height: 2px;
  background-color: #1e3554;
  margin: 10px auto 30px auto;
}

.compton p{
  text-align: center;
}

.hobbie p {
  text-align: center;
}

.hobcomp{
  margin-bottom: 80px;
}

.portfolio i{
  color: #fff;
  transition: 1s;
}

.portfolio:hover i{
  color: #1e3554;
}

.portfolio {
  margin-top: 50px;
  color: #fff;
  background-color: #1e3554;
  padding: 8px;
  border: 2px solid #1e3554;
  border-radius: 10px;
  transition: 1s;
}

.port{
  text-align: center;
}

.portfolio:hover{
  color: #1e3554;
  background-color: transparent;
  text-decoration: none;
  border: none;
}

.lien i{
  color: #fff;
}

.lien:hover i{
  color: #1e3554;
}

.lien{
  margin-top: 50px;
  color: #fff;
  background-color: #1e3554;
  padding: 8px;
  border: 2px solid #1e3554;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.lien:hover{
  color: #1e3554;
  background-color: transparent;
  text-decoration: none;
  border: none;
}

.link{
  text-align: center;
}

a{
  font-size: 20px;
}

.fab {
  font-size: 20px;
}

/*-------------------fin section hobbies et liens------------------*/



/*--------------------footer---------------------*/

footer{
  text-align: center;
  font-size: 10px;
  margin-top: 100px;
}

/*-------------------fin footer------------------*/
