.container{
  text-align: center;
  margin-left: 640px !important;
}
.row{
  width: 1140px;
  height: auto;
}

body{
  background-image: url('../src/light_alu/light_alu/light_alu_@2X.png');
}

h2{
  text-transform: uppercase;
  text-align: center;
  margin-top: 100px;
  margin-left: 20px;
}
h2::after{
  content: "";
  background-color: #3d3d3d;
  width: 75px;
  height: 2px;
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 20px;
}

h6{
  text-align: center;
  font-size:20px;
  margin-left: 20px;
  text-transform: capitalize;
  margin-bottom: 20px;
}

input{
  border:2px solid #3d3d3d!important;
}

textarea{
  border:2px solid #3d3d3d!important;
}

p{
  text-align: center;
  font-size: 15px;
}

.champ:hover{
  color: red !important;
}

.btn-default {
  background-color: transparent !important;
  color: #3d3d3d !important;
  border-radius: 5px !important;
  border: 2px solid #3d3d3d !important;
  margin-bottom: 50px;
  width: 540px;
  margin-left: 8px;
  margin-top: 10px;
}

.btn-default:hover {
  transition: 1s;
  background-color: #3d3d3d !important;
  border-color: #3d3d3d !important;
  color: #ccc!important;
}

.btn{
  display: block;
}

footer{
  margin-top: 200px;
  text-align: center;
}

/*----------------button---------------*/

button{
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #000000;
  border: 2px solid #000000;
  border-radius: 20px;
  cursor: pointer;
  position: relative;
  left:50%;
  transform: translate(-50%, 0);
}


button:hover{
  transition: 1s;
  background-color: #f1f1f1;
  border: 2px solid #f1f1f1;
}

button a{
  color: #ccc;
  text-decoration: none;
}

button a:hover{
  color: #3d3d3d;
  text-decoration: none;
}
