.container{
  text-align: center;
  margin-left: 640px !important;
  font-family: 'Overlock', cursive;

}

.row{
  width: 1140px;
  height: auto;
}

.back{
  margin-top: 50px;
  margin-bottom: 60px;
}

.lien{
  text-align: center;
  color: #fff;
  background-color: #1e3554;
  padding: 8px;
  border: 2px solid #1e3554;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}


.lien:hover{
  color: #1e3554;
  background-color: transparent;
  text-decoration: none;
  border: none;
}

body{
  background-image: url('../src/light_alu/light_alu/light_alu_@2X.png');
}

h2{
  color: #1e3554;
  text-transform: uppercase;
  text-align: center;
  margin-top: 100px;
  margin-left: 20px;
}
h2::after{
  content: "";
  background-color: #1e3554;
  width: 75px;
  height: 2px;
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 20px;
}

h6{
  color: #1e3554;
  text-align: center;
  font-size:20px;
  margin-left: 20px;
  text-transform: capitalize;
  margin-bottom: 20px;
}

input{
  border:2px solid #1e3554!important;
}

textarea{
  border:2px solid #1e3554!important;
}

p{
  text-align: center;
  font-size: 15px;
}

.champ:hover{
  color: red !important;
}

.btn-default {
  background-color: transparent !important;
  color: #1e3554 !important;
  border-radius: 5px !important;
  border: 2px solid #1e3554 !important;
  margin-bottom: 50px;
  width: 540px;
  margin-left: -12px;
  margin-top: 10px;
}

.btn-default:hover {
  transition: 1s;
  background-color: #1e3554 !important;
  border-color: #1e3554 !important;
  color: #ccc!important;
}

.btn{
  display: block;
}

footer p{
  margin-top: 200px;
  margin-left: -550px;
  font-family: 'Overlock', cursive;
  font-size: 10px!important;
  color: #1e3554;
}
